.Login > * {
  outline: none;
  border: 1px solid #fff;
  background-color: black;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 1rem;
}

.Login > .input {
  max-width: 50%;
  min-width: 30%;
}

.Login > .button {
  cursor: pointer;
  display: block;
  margin: 1rem 0;
  transition: opacity, scale 300ms ease;
}

.Login > .button:hover {
  opacity: 0.7;
  scale: 1.1;
}
