.Header {
  padding: 1.5rem;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header > a > .logo {
  height: 3rem;
  aspect-ratio: 1;
  transition: opacity, scale 300ms ease;
}

.Header > a > .logo:hover {
  opacity: 0.5;
  scale: 1.1;
}
